@import './base.css';
@import '@fontsource/noto-sans-sc/chinese-simplified-400.css';
@import '@fontsource/noto-sans-sc/chinese-simplified-500.css';
@import '@fontsource/noto-sans-sc/chinese-simplified-600.css';
@import '@fontsource/zcool-qingke-huangyou/chinese-simplified-400.css';
@import 'tailwindcss';

#app {
  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
}
